body{
  background: rgb(37, 44, 42);
  font-family: sans-serif;
}

#loancal {
  width: 445px;
  height: 600px;
  background-color:white;
  color: #fff;
  padding: 10px;
  margin: 100px auto;
}

h1 {
  font-size:30px;
  text-align: center;
  color: rgb(37, 44, 42);
  margin-bottom: 35px;
}
.input{
  margin-left: 40px;
  margin-right: 40px;
}
p{
color: rgb(37, 44, 42);
font-size: 17px;
}
input{
  width: 100%;
  height: 33px;
}
h2{
  text-align: center;
  color: rgb(6, 111, 139);
  margin-top: 35px;
  font-size: 12px;
}